---
import Layout from '../layouts/Layout.astro';
import PlantStrong from '../components/PlantStrong/index.astro';
import HarvestSmart from '../components/HarvestSmart/index.astro'
import StandardsRedefined from '../components/StandardsRedefined/index.astro'
---

<Layout>
	<PlantStrong />
	<HarvestSmart/>
	<StandardsRedefined/>
	<!--  -->

	<!--  -->
	
	<!-- <img width="100%" height="auto" class="h-auto d-block w-100" alt="" loading="lazy" src="images/footer-banner.jpg" /> -->

	<!-- modal -->
	<div class="modal" id="modal-1">
		<div class="modal-content">
			<div class="btn-top">
				<button class="button modal-close">Close <i class="fas fa-times-circle"></i></button>
			</div>

			<div class="slider">
				<div class="js-flickity" data-flickity='{ "cellAlign": "left", "wrapAround": true }' id="carousel-1"></div>
			</div>
		</div>
	</div>

	<div class="modal" id="modal-2">
		<div class="modal-content">
			<div class="btn-top">
				<button class="button modal-close">Close <i class="fas fa-times-circle"></i></button>
			</div>

			<div class="slider">
				<div class="js-flickity" id="carousel-3">
					<!--  -->

					<!-- <div class="product">
				<div>
				  <img class="mx-auto d-block" src="https://www.lundellplastics.com/images/product-lineup-Poly-Cupped-Flighting.png" alt="" />
  
				  <figure class="mx-auto mb-2 d-block">
					<img src="/assets/images/pollyCuppedFlighting.svg" alt="FreeFlo Logo" />
				  </figure>
				  <p class="mx-auto mb-2 max-w-250">What happens when you combine the longevity of Lundell's poly technology with trusted university testing? You get Poly Cupped Flighting, a tough industry giant that handles your crop with care.</p>
				</div>
				<a class="button" target="_blank" href="https://www.lundellplastics.com/planting-products/poly-cupped-flighting.asp">
				  POLY CUPPED FLIGHTING
				  <i class="fas fa-chevron-circle-right"></i>
				</a>
			  </div>
  
			  <div class="product">
				<div>
				  <img class="mx-auto d-block" src="https://www.lundellplastics.com/images/product-lineup-Poly-Straight-Flighting.png" alt="" />
				  <figure class="mx-auto mb-2 d-block">
					<img src="/assets/images/straightFlighting.svg" alt="Polly Straight Flighting" />
				  </figure>
				  <p class="mx-auto mb-2 max-w-250">When you order our Poly Straight Flighting, direct from our factory, you know you’re getting the best technology at the best price.</p>
				</div>
				<a class="button" target="_blank" href="https://www.lundellplastics.com/planting-products/poly-cupped-flighting.asp">
				  STRAIGHT FLIGHTING
				  <i class="fas fa-chevron-circle-right"></i>
				</a>
			  </div>
  
  
			  <div class="product">
				<div>
				  <img class="mx-auto d-block" src="https://www.lundellplastics.com/images/product-lineup-UHMW-Auger-Wearshoes.png" alt="" />
				  <figure class="mx-auto mb-2 d-block">
					<a title="UHMW Wearshoes" href="https://www.lundellplastics.com/harvest-products/uhmw-auger-wearshoes.asp">
					  <img src="/assets/images/uhmwWearShoes.svg" alt="UHMW Wear Shoes" />
					</a>
				  </figure>
				  <p class="mx-auto mb-2 max-w-250">Lundell Plastics’ UHMW Wearshoes bring many of the benefits of plastic flighting to steel grain augers. They’re easy to install and bring instant benefits in the fall, including an increased harvesting rate and a slick surface that prevents build-up.</p>
				</div>
				<a class="button" target="_blank" href="https://www.lundellplastics.com/harvest-products/uhmw-auger-wearshoes.asp"> UHMW WEARSHOES <i class="fas fa-chevron-circle-right"></i> </a>
			  </div>
  
			  <div class="product">
				<div>
				  <img class="mx-auto d-block" src="https://www.lundellplastics.com/images/corn-head-auger-trough-liners.png" alt="" />
				  <figure class="mx-auto mb-2 d-block">
					<a title="" href="https://www.lundellplastics.com/harvest-products/corn-head-auger-trough-liners.asp">
					  <img src="/assets/images/exoplate.svg" alt="ExoPlate" />
					</a>
					<figcaption>Corn Head Auger Trough Liners</figcaption>
				  </figure>
				  <p class="mx-auto mb-2 max-w-250">ExoPlate™ Corn Head Auger Trough Liners are durable, long-lasting liners that fit a variety of applications. That means that all your valuable equipment stays protected, keeping your machinery running smoothly throughout the entire harvest season.</p>
				</div>
				<a class="button" target="_blank" href="https://www.lundellplastics.com/harvest-products/corn-head-auger-trough-liners.asp">CORN HEAD AUGER LINER <i class="fas fa-chevron-circle-right"></i> </a>
			  </div>
			  <div class="product">
				<div>
				  <img class="mx-auto d-block" src="https://www.lundellplastics.com/images/corn-head-auger-trough-liners.png" alt="" />
				  <figure class="mx-auto mb-2 d-block">
					<a title="" href="https://www.lundellplastics.com/harvest-products/corn-head-auger-trough-liners.asp">
					  <img src="/assets/images/exoplate.svg" alt="ExoPlate" />
					</a>
					<figcaption>Corn Head Auger Trough Liners</figcaption>
				  </figure>
				  <p class="mx-auto mb-2 max-w-250">ExoPlate™ Corn Head Auger Trough Liners are durable, long-lasting liners that fit a variety of applications. That means that all your valuable equipment stays protected, keeping your machinery running smoothly throughout the entire harvest season.</p>
				</div>
				<a class="button" target="_blank" href="https://www.lundellplastics.com/harvest-products/corn-head-auger-trough-liners.asp">CORN HEAD AUGER LINER <i class="fas fa-chevron-circle-right"></i> </a>
			  </div>
			  <div class="product">
				<div>
				  <img class="mx-auto d-block" src="https://www.lundellplastics.com/images/corn-head-auger-trough-liners.png" alt="" />
				  <figure class="mx-auto mb-2 d-block">
					<a title="" href="https://www.lundellplastics.com/harvest-products/corn-head-auger-trough-liners.asp">
					  <img src="/assets/images/exoplate.svg" alt="ExoPlate" />
					</a>
					<figcaption>Corn Head Auger Trough Liners</figcaption>
				  </figure>
				  <p class="mx-auto mb-2 max-w-250">ExoPlate™ Corn Head Auger Trough Liners are durable, long-lasting liners that fit a variety of applications. That means that all your valuable equipment stays protected, keeping your machinery running smoothly throughout the entire harvest season.</p>
				</div>
				<a class="button" target="_blank" href="https://www.lundellplastics.com/harvest-products/corn-head-auger-trough-liners.asp">CORN HEAD AUGER LINER <i class="fas fa-chevron-circle-right"></i> </a>
			  </div> -->
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="product">
		<div>
		  <img class="mx-auto d-block" src="" alt="" />
		  <figure class="mx-auto mb-2 d-block">
			<a title="" href="">
			  <img src="" alt="" />
			</a>
			<figcaption></figcaption>
		  </figure>
		  <p class="mx-auto mb-2 max-w-250"></p>
		</div>
		<a class="button" target="_blank" href=""> <i class="fas fa-chevron-circle-right"></i> </a>
	  </div>
	  <div> -->

	<div class="modal" id="modal-3">
		<div class="modal-content">
			<div class="btn-top">
				<button class="button modal-close">Close <i class="fas fa-times-circle"></i></button>
			</div>

			<div class="slider">
				<div class="js-flickity" id="carousel-2">
					<!-- <div class="abc" > -->
					<!-- <div class="product">
				<div>
				  <img class="mx-auto d-block" src="./images/Wearshoes.png" alt="" />
				  <img class="mx-auto my-3 d-block" src="https://www.lundellplastics.com/images/Logo-UHMW-Wearshoes.svg" alt="" />
				  <p class="mx-auto mb-2 max-w-250">UHMW Wearshoes&trade; can fit onto new or worn steel auger flighting, thus extending the life of any auger.</p>
				</div>
				<a class="button" target="_blank" href="https://www.lundellplastics.com/harvest-products/uhmw-auger-wearshoes.asp"
				  >UHMW Wearshoes&trade;
				  <i class="fas fa-chevron-circle-right"></i>
				</a>
			  </div>
  
			  <div class="product">
				<div>
				  <img class="mx-auto d-block" src="./images/PolyCuppedFlighting.png" alt="" />
  
				  <img class="mx-auto my-3 d-block" src="https://www.lundellplastics.com/images/Logo-Poly-Cupped-Flighting.svg" alt="" />
				  <p class="mx-auto mb-2 max-w-250">PolyCupped&trade; Flighting delivers more intact grain to your dryer or grain bin.</p>
				</div>
				<a class="button" target="_blank" href="https://www.lundellplastics.com/harvest-products/poly-cupped-flighting.asp"
				  >PolyCupped&trade; Flighting
				  <i class="fas fa-chevron-circle-right"> </i>
				</a>
			  </div>
  
			  <div class="product">
				<div>
				  <img class="mx-auto d-block" src="./images/ExoplateTubeLiner.png" alt="" />
  
				  <img style="max-height: 60px" class="mx-auto my-3 d-block" src="https://www.lundellplastics.com/images/Logo-ExoPlate.svg" alt="" />
				  <p class="mx-auto mb-2 max-w-250">ExoPlate&trade; tube liners are durable, long-lasting liners that fit a variety of applications. They reduce buildup and power consumption.</p>
				</div>
				<a class="button" target="_blank" href="https://www.lundellplastics.com/harvest-products/tube-liners.asp"
				  >ExoPlate&trade; tube liners
				  <i class="fas fa-chevron-circle-right"></i>
				</a>
			  </div>
  
			  <div class="product">
				<div>
				  <img class="mx-auto d-block" src="./images/product-1.jpg" alt="" />
				  <img style="max-height: 60px" class="mx-auto my-3 d-block" src="https://www.lundellplastics.com/images/Logo-ExoPlate.svg" alt="" />
				  <p class="mx-auto mb-2 max-w-250">ExoPlate&trade; combine tank cross- floor liner sizes fit your new or used combine to protect the grain tanks auger floor and protect your implement throughout harvest.</p>
				</div>
				<a class="button" target="_blank" href="https://www.lundellplastics.com/harvest-products/combine-tank-cross-floor-liners.asp"
				  >ExoPlate&trade; Tank Liners
				  <i class="fas fa-chevron-circle-right"></i>
				</a>
			  </div> -->
				</div>
			</div>
		</div>
	</div>
</Layout>
