---
import bg from './bg.png';
import man from './man.png';
import { Picture } from 'astro:assets';
---

<section class="position-relative mt-neg11vw" id="harvestSmart-section">
	<Picture src={bg} formats={['avif', 'webp']} alt="images" loading="lazy" widths={[480, 768, 992, 1200, 1500]} class="harvestSmart-bg" sizes={` (max-width: 480px) 480px,(max-width: 768px) 768px, (max-width: 992px) 992px,(max-width: 1200px) 1200px, 1500px`} />
	<div class="bottom-0 w-50vw position-absolute position-xs-relative mt-neg8vw d-sm-none order-xs-1"  id="harvestSmart-man">
		<Picture src={man} formats={['avif', 'webp']} alt="images" loading="lazy" widths={[100, 400, 800]} class="h-auto d-block w-100" sizes={` (max-width: 768px) 100px, (max-width: 992px) 400px, 800px`} />
	</div>

	<section class="inset-0 position-md-absolute position-sm-relative gradient-background" id="harvestSmart-text">
		<article class="container section-block drop-shadow">
			<p class="mb-0">
				<strong>Harvest&nbsp;<br />Smart.</strong>&nbsp;
			</p>
			<p class="mb-05">Here at Lundell Plastics, we manufacture a vast array of ag products to help protect your equipment from corrosion, wear and potential loss of grain during harvest. Whether you need to replace worn-out parts or prevent future wear, our easily integrated equipment upgrades will take your harvest to the next level.</p>
			<span></span>
			<p class="m-0">
				<a class="button modal-open" data-modal="modal-2">Elevate your harvest <i class="fas fa-chevron-circle-right"></i></a>
			</p>
		</article>
	</section>
</section>
<style>
	#harvestSmart-section {
		min-height: calc(100vw / 1920 * 923);
		background:
			linear-gradient(to bottom, transparent, black)
	}
    .harvestSmart-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	@screen and (min-width: 769px) {
		#harvestSmart-man {
			left: 3vw;
			max-width: 40vw;
		}
	}

	#harvestSmart-text {
		padding-left: 30vw;
		padding-top: 8vw;
	}
	@media screen and (max-width: 999.98px) {
		#harvestSmart-text {
			padding-left: 45vw;
		}
	}
	@media screen and (max-width: 768px) {
		#harvestSmart-text {
			padding-left: 0;
		}

		#harvestSmart-section {
			display: flex;
			flex-direction: column;
		}
	}
	@media screen and (max-width: 599.98px) {
		#harvestSmart-text {
			padding-left: 0;
			padding-top: 0;
		}

		#harvestSmart-man {
			left: auto;
			right: 0;
		}
	}
</style>
